
/***************************************** HOME STYLES *********************************/
section {
    position: relative;
    z-index: 1;
}

#landing {
    padding-top: 100px;
    background-color: #fff;
    height: calc(100vh - 100px);
}

#landing .container {
    height: 100%;
    position: relative;
}

#landing .wrap {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

#landing .content {
    height: 100%;
    position: relative;
    z-index: 1;
}

#landing .content .slick-slider .slick-slide {
    height: calc(100vh - 130px);
    width: 100%;
}

#landingvideo, #video-mask {
    position: absolute;
}

#landingvideo {
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
}

#video-mask img {
    height: 450px;
}

#video-mask div {
    position: absolute;
    background-color: #fff;
}

#video-mask div.top {
    bottom: 100%;
    height: 450px;
    width: 2000px;
    left: -1000px;
}
#video-mask div.right {
    left: 100%;
    height: 100%;
    width: 1000px;
    top: 0;
}
#video-mask div.bottom {
    top: 100%;
    height: 450px;
    width: 2000px;
    left: -1000px;
}
#video-mask div.left {
    right: 100%;
    height: 100%;
    width: 1000px;
    top: 0;
}

#landing .horizontal-slide {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

#landing .horizontal-slide .slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 720px;
}

#landing .horizontal-slide .slick-slide .heading {
    font-size: 54px;
    font-weight: 200;
    max-width: 750px;
    line-height: 70px;
}

#landing .horizontal-slide .slick-dots {
    list-style: none;
    position: absolute;
    right: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

#who {
    z-index: 0;
}


#who.active {
    z-index: 2;
}

#fixedCopy {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 0;
    top: 0;
    transition: background-color 600ms, opacity 600ms;
    opacity: 0;
}

#fixedCopy .nav-indicator {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 100%;
    padding-top: 70px;
}

#fixedCopy .nav-indicator .container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}


#fixedCopy .nav-indicator ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    padding: 0;
    height: 33vh;
    left: -30px;
    z-index: 2;
    position: relative;
}


#fixedCopy .nav-indicator ul li:last-of-type:after {
    display: none;
}

#fixedCopy .nav-indicator ul li {
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 8px;
    margin: 0;
    flex: 1;
}

#fixedCopy .nav-indicator ul li:last-of-type {
    flex: 0;
}

#fixedCopy .nav-indicator ul li:after {
    content: '';
    width: 1px;
    background-color: #818181;
    height: calc(100% - 16px);
    display: block;
    margin-left: 7px;
}

#fixedCopy .nav-indicator ul li button {
    cursor: pointer;
    overflow: hidden;
    width: 16px;
    height: 16px;
    padding: 0;
    border: 1px solid #818181;
    background-color: transparent;
    line-height: 16px;
    text-align: center;
    position: relative;
}

#fixedCopy .nav-indicator ul li button:after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #ccc;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: background-color 600ms;
}

#fixedCopy .nav-indicator ul li.active button:after {
    background-color: #000;
}

#fixedCopy.dark {
    background-color: #000 !important;
}

#fixedCopy .left {
    display: flex;
    align-items: center;
}

#fixedCopy.show {
    opacity: 1;
    z-index: 1;
}

#fixedCopy .section {
    height:  100%;
    align-items: center;
    display: none;
    padding-top: 70px;
}

#fixedCopy .section:nth-of-type(3) .left, #fixedCopy .section:nth-of-type(4) .left {
    filter: invert(1) !important;
    z-index: 2;
}

#fixedCopy .section .scroll-text {
    animation-delay: 600ms;
}

#fixedCopy .section:nth-of-type(2) .scroll-text {
    position: absolute;
    transform: rotate(90deg);
    font-weight: 600;
    font-size: 300px;
    width: 1850px;
    color: #e3e3e3;
    top: 0;
    left: -10vw;
}

#fixedCopy .section:nth-of-type(3) .scroll-text {
    position: absolute;
    font-weight: 600;
    font-size: 300px;
    width: 2910px;
    color: #2d2c2c;
    left: 0;
    top: 50%;
    z-index: 0;
}

#fixedCopy .section:nth-of-type(4) .scroll-text {
    position: absolute;
    right: 40%;
    bottom: 20%;
    z-index: 1;
}

#fixedCopy .section.active {
    display: flex;
    position: relative;
}

#fixedCopy .left p {
    font-size: 16px;
}

/*#fixedCopy .left .overflow-hidden .animate:nth-of-type(1) {*/
/*    animation-delay: 300ms;*/
/*}*/
/*#fixedCopy .left .overflow-hidden .animate:nth-of-type(2) {*/
/*    animation-delay: 500ms;*/

/*}*/
/*#fixedCopy .left .overflow-hidden .animate:nth-of-type(3) {*/
/*    animation-delay: 700ms;*/

/*}*/
/*#fixedCopy .left .overflow-hidden .animate:nth-of-type(4) {*/
/*    animation-delay: 900ms;*/

/*}*/
/*#fixedCopy .left .overflow-hidden .animate:nth-of-type(5) {*/
/*    animation-delay: 1100ms;*/
/*}*/


#consultancy {
    padding: 0;
}

#consultancy .images  {
    position: relative;
}

#consultancy .images img {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
}

#consultancy .images img.active {
    opacity: 1;
}

.floating-links .link.active a {
    color: #000;
}

.section-sub {
    font-size: 14px;
}
#fixedCopy .section .heading {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 40px;
    line-height: 46px;
}
#fixedCopy .nav-texts {
    color: #fff;
    height: 33vh;
    left: -30px;
    position: relative;
    width: 60px;
}
#fixedCopy .nav-texts .nav-text {
    height: 100%;
    align-items: center;
    display: none;
}
#fixedCopy .nav-texts .nav-text.active {
    display: flex;
}

#fixedCopy.dark .nav-text.active p {
    color: #fff;
}

#fixedCopy .nav-texts .nav-text div {
    transform: rotate(270deg);
}

#fixedCopy .nav-texts .nav-text div p {
    margin-bottom: 0;
    display: inline-block;
    color: #000;
}

#fixedCopy .nav-texts .nav-text div p:nth-of-type(1) { animation-delay: 100ms; }
#fixedCopy .nav-texts .nav-text div p:nth-of-type(2) { animation-delay: 200ms; }
#fixedCopy .nav-texts .nav-text div p:nth-of-type(3) { animation-delay: 300ms; }
#fixedCopy .nav-texts .nav-text div p:nth-of-type(4) { animation-delay: 400ms; }
#fixedCopy .nav-texts .nav-text div p:nth-of-type(5) { animation-delay: 500ms; }
#fixedCopy .nav-texts .nav-text div p:nth-of-type(6) { animation-delay: 600ms; }
#fixedCopy .nav-texts .nav-text div p:nth-of-type(7) { animation-delay: 700ms; }
#fixedCopy .nav-texts .nav-text div p:nth-of-type(8) { animation-delay: 800ms; }
#fixedCopy .nav-texts .nav-text div p:nth-of-type(9) { animation-delay: 900ms; }
#fixedCopy .nav-texts .nav-text div p:nth-of-type(10) { animation-delay: 1000ms; }

#fixedCopy .founder-image { transition: transform 200ms; margin-bottom: -30px;
    width: 140%;
    margin-left: -40%;
}

#services .dots-wrap {
    display: flex;
    align-items: center;
    justify-content: end;
}

#services .container { position: relative; }
#services .left-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    left: -100%;
    background-color: #fff;
    z-index: 1;
}

@media only screen and (max-height: 1100px) {
    #fixedCopy .founder-image {
        margin-bottom: -15vh;
    }
}

@media only screen and (max-height: 800px) {
    #fixedCopy .founder-image {
        margin-bottom: -20vh;
        width: 120%;
    }
}


@media only screen and (max-width: 1200px) {
    #video-mask img {
        height: auto;
        width: 100%;
    }

    #landing .horizontal-slide .slick-slide .heading {
        font-size: 34px;
        max-width: 490px;
        line-height: 46px;
    }

    #fixedCopy .section .heading {
        font-size: 28px;
        margin-bottom: 30px;
        line-height: 36px;
    }


    #fixedCopy .section .right {
        display: flex;
        align-items: center;
    }

}

@media only screen and (max-width: 991px) {

    #landing .horizontal-slide .slick-dots {
        justify-content: center;
    }

    #landing .horizontal-slide .slick-dots {
        top: auto;
        bottom: 30px;
        flex-flow: row;
        width: 100%;
    }

    .vertical-dots .slick-dots li:after {
        width: 100%;
        height: 1px;
        margin-left: 0;
    }

    #fixedCopy .nav-indicator ul li button {
        border-color: transparent;
    }

    #fixedCopy .nav-indicator ul li.active button {
        border-color: #000;
    }

    #fixedCopy .nav-indicator ul {
        bottom: 30px;
        left: 0;
        z-index: 2;
        height: 16px;
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        position: absolute;
    }

    #fixedCopy .nav-indicator ul:before, #fixedCopy .nav-indicator ul:after  {
        content: '';
        display: block;
        background-color: #ccc;
        height: 1px;
        width: 100px;
        position: absolute;
    }

    #fixedCopy .nav-indicator ul:before {
        width: 1000px;
        left: 100%;
    }

    #fixedCopy .nav-indicator ul:after  {
        width: 1000px;
        right: 100%;
    }

    #fixedCopy .nav-indicator ul li {
        display: flex;
        justify-content: start;
        align-items: center;
        max-width: 100px;
    }

    #fixedCopy .nav-indicator ul li:after {
        display: none;
    }

    #fixedCopy .nav-texts {
        display: none;
    }

    #fixedCopy .section:nth-of-type(2) .scroll-text {
        font-size: 180px;
        color: #e3e3e3;
        top: 160px;
        left: -70vw;
    }

    #fixedCopy .section:nth-of-type(3) .scroll-text {
        font-size: 180px;
    }

    #fixedCopy .left div {
        z-index: 1;
    }
}

@media only screen and (max-width: 767px) {

    .horizontal-dots .slick-dots li:after {
        left: -1px !important;
    }

    #services .dots-wrap {
        justify-content: start;
    }
    #fixedCopy .section:nth-of-type(2) .scroll-text {
        left: -130vw;
    }

    #hovermenu {
        height: 200px;
    }

    #landing .wrap {
        left: 0;
    }

    .horizontal-dots .slick-dots li, .horizontal-dots .slick-dots li {
        padding: 0 10px;
    }

    #landing {
        padding-top: 70px;
    }

    #fixedCopy .nav-indicator .container {
        height: 100%;
    }

    #fixedCopy .nav-indicator {
        height: 100%;
        left: 0;
    }

    #fixedCopy .section .right {

    }

    #founder .right img {
        position: absolute;
    }

    #founder .right img {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
        width: 300px;
    }

    #founder .left {
        position: relative;
        z-index: 2;
    }

    #founder .quote {
        position: relative;
        z-index: 2;
        width: 100px;
    }

    #fixedCopy .section:nth-of-type(4) .scroll-text {
        position: absolute;
        right: auto;
        bottom: 10%;
        z-index: 1;
        left: 0;
    }

    #video-mask {
        max-width: 300px;
    }

    .container {
        padding-left: 30px !important;
        padding-right: 30px;
    }
}