.mb-150 {
    margin-bottom: 150px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 p {
    margin-bottom: 0;
}

.gray-bg {
    background-color: #f7f7f7;
}

section {
    position: relative;
}

.animated-a:before {
    display: inline-block;
    position: absolute;
    top: 0;
    content: '';
    background-image: url(../images/arena-logo-opaque.png);
    background-repeat: no-repeat;
    width: 995px;
    height: 1000px;
    right: 20%;
    z-index: 1;
    animation: leftright 20s linear infinite;
}

.animated-a .container {
    position: relative;
    z-index: 2;
}

.landing-banner .animate:nth-of-type(1) { animation-delay: 300ms; }
.landing-banner .animate:nth-of-type(2) { animation-delay: 500ms; }
.landing-banner .animate:nth-of-type(3) { animation-delay: 700ms; }

.landing-banner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-flow: column;
    overflow: hidden;
}

.landing-banner .copy {
    max-width: 775px;
    text-align: center;
    z-index: 2;
    margin: 130px auto 0;
    position: relative;
}

.landing-banner .copy .header {
    font-size: 16px;
}

.landing-banner .copy .sub_header {
    font-size: 54px;
    line-height: 70px;
}

.top-banner-overflow .scroll-text {
    position: absolute;
    font-weight: 600;
    font-size: 300px;
    width: 1850px;
    color: #f7f7f7;
    top: -80vh;
    animation-delay: 600ms;
    left: 0;
    transform: rotate(90deg) translateX(25.0072%);
}

.landing-banner .dot {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    position: relative;
    z-index: 1;
}

.landing-banner .dot:before {
    content: '';
    height: 0;
    width: 1px;
    display: inline-block;
    background-color: #bababa;
    transition: height 600ms 600ms;
}

.landing-banner .dot.animated:before {
    height: 70px;
}

.landing-banner .dot span {
    height: 14px;
    width: 14px;
    display: inline-block;
    border: 1px solid #bababa;
    position: relative;
    opacity: 0;
    transition: opacity 600ms 300ms;
}

.landing-banner .dot.animated span {
    opacity: 1;
}

.landing-banner .dot span:before {
    content: '';
    height: 6px;
    width: 6px;
    position: absolute;
    background-color: #bababa;
    left: 3px;
    top: 3px;
}

.large-header {
    font-size: 70px;
    margin-bottom: 60px;
    font-weight: 300;
}

.medium-heading, .medium-heading p {
    font-size: 36px;
    line-height: 48px;
    font-weight: 300;
}

.image-text .left {
    padding-right: 0 !important;
}

.image-text .right {
    padding-left: 0 !important;
}

.image-text .left-img img {
    float: right;
}

.scroll-text {
    position: absolute;
    font-weight: 600;
    font-size: 300px;
    width: 2910px;
    color: #f1f1f1;
    right: 0;
    top: 50%;
    z-index: 0;
    animation-delay: 600ms;
}

.full-width-columns {
    width: 100%;
    display: flex;
    height: 100vh;
    min-height:600px;
}

.full-width-columns .col {
    background-color: #363636;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 600ms ease-in-out;
    animation-delay: 0ms;
    position: relative;
}

.full-width-columns .col img {
    transition: transform 1000ms;
}

.full-width-columns .col .content {
    max-width: 320px;
}

.full-width-columns .col .copy {
    color: #000;
    margin-top: 40px;
    animation-delay: 0ms;
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s 400ms, opacity 300ms 100ms;
    overflow: hidden;
    max-height: 0;
    position: relative;
    z-index: 1;
    opacity: 0;
}

.full-width-columns .col .copy p {
    margin-bottom: 0;
}

.full-width-columns .col .header {
    font-size: 60px;
    font-weight: 300;
    margin-top: 40px;
    transition: margin 600ms ease-in-out, color 600ms ease-in-out;
    margin-bottom: 0;
    z-index: 1;
    position: relative;
}

.full-width-columns .col:before {
    content: '';
    width: 100%;
    height: 0;
    background-color: #fff;
    position: absolute;
    transition: height 800ms;
    top: 0;
}

.full-width-columns .col:hover:before {
    height: 100%;
}

.full-width-columns .col:hover .header {
    color: #000;
}

.full-width-columns .col:hover .copy {
    display: inline-block;
    max-height: 350px;
    opacity: 1;
}

.full-width-columns .col:hover img {
    transform: scale(1.3);
}

.founder {
    padding-bottom: 200px;
}

.founder .quote {
    font-weight: 300;
    font-size: 36px;
    font-style: italic;
    margin-bottom: 40px;
}

.founder .animate:nth-of-type(1) { animation-delay: 300ms; }
.founder .animate:nth-of-type(2) { animation-delay: 500ms; }
.founder .animate:nth-of-type(3) { animation-delay: 700ms; }
.founder img.animate { animation-delay: 1000ms; margin-top: 100px;}

.bg-black {
    color: #fff;
}

#team {
    margin-top: -200px;
}

.team-carousel {
    width: 100vw;
}
.team-carousel .slick-slide {
    padding: 0 10px;
}

.slick-arrow {
    background-color: #363636;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url('../images/carousel-arrow-right.png');
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    text-indent: 100px;
    transition: background-color 600ms;
    border: 0;
}

.slick-arrow:hover {
    background-color: #ccc;
}

.slick-prev {
    transform: rotate(180deg);
}

#team-nav {
    margin-top: 80px;
}

#team-nav .slick-prev {
    margin-right: 20px;
}

.team-text-carousel {
    width: 50vw;
    z-index: 2;
}

.team-carousel .slick-slide img {
    opacity: .3;
    transition: opacity 600ms, transform 600ms 200ms;
    transform: scale(1.1);
}

.team-carousel .slick-slide div {
    background-color: #fff;
    overflow: hidden;
}

.team-text-carousel .anim {
    display: none;
}

.team-text-carousel .slick-current .anim {
    display: block;
}

.team-text-carousel .slick-current .anim span {
    position: relative;
    display: inline-block;
    opacity: 0.99;
}

.team-text-carousel .slick-slide div .anim:nth-of-type(1) { animation-delay: 100ms; }
.team-text-carousel .slick-slide div .anim:nth-of-type(2) { animation-delay: 300ms; }

.team-carousel .slick-current img {
    opacity: 1;
    transform: scale(1);
}

.team-copy {
    padding-bottom: 60px;
}

.full-width-image-carousel, .full-width-image-carousel img {
    width: 100%;
}

.full-width-image-carousel .slick-list {
    overflow: visible;
}

.full-width-image-carousel .slick-slide {
    padding: 0 45px;
    text-align: center;
}

.logo-carousel-3 .slick-track {
    display: flex;
    align-items: center;
}

.logo-carousel-3 .slick-slide div {
    text-align: center;
}

.logo-carousel-3 .slick-slide {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-carousel-3 .slick-slide img {
    display: inline-block !important;
    width: 100%;
    max-width: 170px;
}

#gallery .slick-slide img {
    transition: transform 600ms ease-in-out;
}

#gallery .slick-slide img.dragging {
    transform: scale(1.1);
}

#gallery .slick-slide .slide {
    padding: 60px 0;
}

@media only screen and (max-height: 800px) {
    .large-header {
        font-size: 50px;
    }
}

@media only screen and (max-width: 1200px) {
    .large-header {
        font-size: 60px;
        margin-bottom: 40px;
    }

    .medium-heading, .medium-heading p {
        font-size: 30px;
        line-height: 40px;
    }

    .full-width-columns .col .header {
        font-size: 40px;
    }

    .founder .quote {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .heading {
        font-size: 50px;
        font-weight: 300;
        line-height: 50px;
    }

    .landing-banner .copy .sub_header {
        font-size: 44px;
        line-height: 55px;
    }
}

@media only screen and (max-width: 991px) {
    .landing-banner .copy {
        max-width: 555px;
        margin-top: 70px;
        z-index: 2;
    }
    .large-header {
        font-size: 50px;
        margin-bottom: 40px;
    }

    .image-text .left, .image-text .right {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }

    .image-text .left img {
        margin-bottom: 40px;
    }

    .image-text .right img {
        margin-top: 40px;
    }

    .image-text .reverse-mobile .right img {
        margin-top: 0;
        margin-bottom: 40px;
    }

    .full-width-columns .col .content {
        max-width: 100%;
    }

    .full-width-columns {
        height: auto;
        flex-flow: column;
    }

    .full-width-columns .col {
        padding: 120px 0;
    }

    .full-width-columns .col .content {
        max-width: 100%;
        padding: 0 60px;
    }

    #founder .left {
        z-index: 1;
    }

    #team-nav {
        display: none;
    }

    .team-carousel .slick-slide {
        margin-left: -10px;
    }

    .team-carousel {
        margin-bottom: 40px;
    }

    .image-text .left-img img {
        margin-top: 0;
        margin-bottom: 40px;
    }

    #firm .scroll-text {
        font-size: 150px;
        color: #f1f1f1;
        left: 0;
        top: 50%;
    }


    .landing-banner .scroll-text {
        font-size: 150px;
        left: -50%;
    }

    .logo-carousel-3 {
        text-align: center;
    }

    .logo-carousel-3 div {
        margin: 40px 0;
    }

    .team-text-carousel {
        width: 100%;
    }

    .heading {
        font-size: 40px;
        line-height: 40px;
    }
}

@media only screen and (max-width: 767px) {
    .section-pd {
        padding: 80px 0;
    }

    .image-text.mb-150 {
        margin-bottom: 40px;
    }

    .team-carousel {
        width: 100%;
    }

    .full-width-image-carousel .slick-slide {
        padding: 0 15px;
        text-align: center;
    }

    #founder img {
        margin-left: 0;
        width: 100%;
    }

    #founder .quote {
        width: 100% !important;
    }

    .landing-banner .scroll-text {
        left: -100%;
    }
}